<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
<%let i = 1%>
    <% for(let post of posts){%>
        <p>
            POST NUMBER <%= i++%>: <%=post%>
            <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                <button>Delete Post</button>
            </form>
            <form action="/posts/<%=post._id%>/edit" method="GET">
                <button>Edit Post</button>
            </form>
            <form action="/posts/<%=post._id%>/replies/new" method="POST">
                <label for="text">Reply:</label>
                <input type="text" name="text" id="text">
                <button>Reply</button>
            </form>
        </p>
    <% }%>
</body>
</html>